[Unit]
Description=Run Godseye agent every 5 minutes
Requires=godseye-agent.service

[Timer]
OnBootSec=2min
OnUnitActiveSec=5min
RandomizedDelaySec=30s
Persistent=true

[Install]
WantedBy=timers.target

